div.form-group{
    margin-bottom: 5px;

    button.btn{
        margin-top: 5px;
    }
    
    button.btn.btn-secondary.confirm{
        margin-right: 5px;
    }
    
    .form-text{
        color: #efefef;
        margin-bottom: 5px;
    }
    
    label.form-text{
        margin-bottom: 2px;
    }

}
