<div class="form-group">
    <label for="import-color-list" class="form-text">Enter  a list of hex values </label>
    <input type="text" class="form-control" [placeholder]="colors" [value]="colors" id="import-color-list" name="import-color-list">
    <small id="emailHelp" class="form-text">Most palette tools have an option to export a similar format. Note that the '#' is optional</small>

    <button class="btn btn-secondary confirm" (click)="importColors($event)">Import</button>
    <button class="btn btn-light cancel" (click)="cancel()">Cancel</button>
</div>