<app-main-color-selection></app-main-color-selection>
<!-- <br>
<app-viz-container></app-viz-container> -->
<br>
<main>
    <app-bar-chart [colors]="default_palette" class="viz-container"></app-bar-chart>
    <app-line-chart [colors]="default_palette" class="viz-container"></app-line-chart>
    <app-treemap [colors]="default_palette" class="viz-container"></app-treemap>
    <app-scatter-plot [colors]="default_palette" class="viz-container"></app-scatter-plot>
    <app-pie-chart [colors]="default_palette" class="viz-container"></app-pie-chart>
    <app-choropleth-map [colors]="default_palette" class="viz-container"></app-choropleth-map>
    <app-stacked-area-chart [colors]="default_palette" class="viz-container"></app-stacked-area-chart>
    <app-tints-shades [colors]="default_palette" class="viz-container"></app-tints-shades>
    <app-typography [colors]="default_palette" class="viz-container"></app-typography>
</main>
<!-- <app-svg-test [colors]="default_palette" class="viz-container"></app-svg-test> -->
<!-- <app-test-component></app-test-component> -->
