<section id="intro">
    <span class="title-text">DataViz Palettes</span> <br> 
    <p class="intro-para">
        DataViz palette allows you to quickly see what your color palette would like on an actual graph. No longer spend ages on your color choices only to realise that they don't quite hit the mark once you've plugged in your data.
        <br><br>
        Experiment with different colors by importing palettes from your favourite color generator tools to see how they might play out on your future viz.
    </p> 
    <p class="intro-para">
        <label for="primary-color-picker">Site Color </label> <br>
        <input [(colorPicker)]="main_color" [style.background]="main_color" class="primary-color-picker" (colorPickerChange)="colorPickerChanged($event)" id="primary-color-picker"/>
    </p> 
    </section>

<app-main-color-selection></app-main-color-selection>
<br>
<main id="main">
    <app-bar-chart [colors]="default_palette" class="viz-container"></app-bar-chart>
    <app-line-chart [colors]="default_palette" class="viz-container"></app-line-chart>
    <app-treemap [colors]="default_palette" class="viz-container"></app-treemap>
    <app-scatter-plot [colors]="default_palette" class="viz-container"></app-scatter-plot>
    <app-pie-chart [colors]="default_palette" class="viz-container"></app-pie-chart>
    <app-choropleth-map [colors]="default_palette" class="viz-container"></app-choropleth-map>
    <app-stacked-area-chart [colors]="default_palette" class="viz-container"></app-stacked-area-chart>
    <app-tints-shades [colors]="default_palette" class="viz-container"></app-tints-shades>
    <app-typography [colors]="default_palette" class="viz-container"></app-typography>
</main>

<footer>
    
    <div class="col item social">
        <span><strong>Dataviz Palettes</strong> by Schubert de Abreu</span>
        <!-- <a href="#"><i class="fa fa-envelope"></i></a> -->
        <a href="https://twitter.com/schubertda1" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
        <a href="https://www.linkedin.com/in/schubert-de-abreu-47a56037/" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
</footer>