/* You can add global styles to this file, and also import other style files */

.viz-container{
    display: contents;
}

.viz{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

.viz-header{
    background-color: cadetblue;
    color: #efefef;
    font-size: 30px;
    font-family: Helvetica;
    padding: 2% 3%;
}

#line{
    margin: 0% 0% 5% 5%;
}